<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<link rel="stylesheet" type="text/css" href="./static/css/style.css">
<body>

	<ul class="list">
		<li>Erode: {{erode}}</li>
		<li>Dilate: {{dilate}}</li>
		<li>Blur: {{blur}}</li>
		<li>Width: {{width}}</li>
		<li>Height: {{height}}</li>
	</ul><br>

	<div class="wrapper">
	<img name="image" src="{{imgpath}}" alt="No image found" align="right">
	</div>
	<div class="tess"><p>{{text}}</p></div>
	<br><br>
	<a href="\uploadimage">
		<button class="back">BACK</button>
	</a>	
	


</body>
</html>